.input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 0 0 30px;

  h5 {
    margin: 0 0 0 10px;
  }
  select {
    display: block;
    border: 1px lightgrey solid;
    border-radius: 10px;
    width: fit-content;
  }
}

input {
  text-align: right;
}

input:focus {
  text-align: right;
}

.loan-input {
  input[type='text'] {
    text-align: right;
  }

  input[type='text']:focus {
    text-align: right;
  }
}
