.wrapper {
  width: 700px;
  margin: 30px auto 0;
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .form {
      background-color: rgb(241, 241, 241);
      border-radius: 30px;
      padding: 20px;
      margin-bottom: 20px;
    .row {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .grey{
      color: gray;
      background-color: white !important;
  }
  .btn-continue-wrap {
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .btn-continue {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 2px black solid;
    }
    h6 {
      margin: 0;
    }
  }
}

.input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 0 0 30px;

  h5 {
    margin: 0 0 0 10px;
  }
  select {
    display: block;
    border: 1px lightgrey solid;
    border-radius: 10px;
    width: fit-content;
  }
}

input {
  text-align: right;
}

input:focus {
  text-align: right;
}

.loan-input {
  input[type='text'] {
    text-align: right;
  }

  input[type='text']:focus {
    text-align: right;
  }
}
